body{
    margin: 0px;
    /* background-image: url(/image/background3.jpg);
    background-size: cover; */
    background-color: rgba(194, 194, 194, 0.356);
    display: flex;
    position: relative;
    /* background-blend-mode: ; */
}


.bg{
    position: relative;
    /* max-width: 110%;
    height: auto;
    filter: saturate(0.3) brightness(0.2) blur(5px);
    position: fixed;
    left: -10px;
    top: -10px; */
}

header{
    background-image: url(/image/wallpaper.png);
    background-size: cover;
    display: flex;
    margin: 45px 45px 0 45px;
    width: 100%;
    height: 530px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.356);
}

.title-home1{
    font-size: 15px;
    color:aliceblue;
    font-family: monospace;
}

.container1{
    position: relative;
}

.home1{
    /* border: 2px red solid; */
    width: 30%;
    vertical-align: middle;
    position: relative;
    align-items: center;
}

.terminal{
    position: absolute;
    margin: 30px 0 0 30px;
    z-index: 0;
    width: 150%;
    max-width: 500px;
}

.sobre{
    z-index: 1;
    position: absolute;
    margin: 40px 0 0 40px;
    width: 120%;
}



.home2{
    /* border: 2px red solid; */
    /* padding-top: 100px ; */
    width: 40%;
    display: flex;
    z-index: 2;
    justify-content: center;
}

.sticker{
    position: absolute;
    bottom: 0px;
    width: 100%;
    max-width: 300px;
    
}

.home3{
    /* border: 2px red solid; */
    width: 30%;
    position: relative;
}

.container3{
    margin-left: 50px;
    position: absolute;
    top: 20px;
    right: 30px;
    justify-items: right;
}

.title-home3{
    font-family: sans-serif ;
    font-size: 20px;
    font-variant: all-petite-caps;
    color: #686b56;
    /* font-weight: bolder; */
}   

.redes{
    position: absolute;
    bottom: 20px;
    display: flex;
    right: 30px;
}

.logo-redes{
    max-width: 45px;
    margin-right: 7px;
}

.option-redes{
    margin: 0px;
}

h2{
    margin: 0px 5px 5px 0px;
}

.container-menu1{
    position: absolute;
    display: flex;
    align-items: center;
    right: -40px;
    width: 188px;
}

.container-menu2{
    position: absolute;
    display: flex;
    align-items: center;
    right: -40px;
    top: 25px;
}

.barra{
    background-color: #686b56;
    width: 80px;
    height: 5px;
    align-items: baseline;
}
