body{
    margin: 0px;
    background-color: rgba(0, 0, 0, 0.034);
    /* position: relative; */
    /* overflow-y: scroll;
    scroll-behavior: smooth; */
}



header{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.123);
    display: flex;
    justify-content: center;
    background-color: #f0f0f0;
    position: fixed;
    z-index: 100;
    width: 100%;
}
.container{
    display: flex;
    width: 85%;
    max-width: 980px;
}

h1, h2, p{
    margin: 0px;
}

.logo{
    /* position: relative; */
    width: 30%;
    /* border: red solid 1px; */
    display: flex;
    justify-content: left;
    padding: 10px 0 10px 40px;
    /* margin-left: 20px; */
}

.logo a img{
    width: 35px;
}

.logo a img:hover{
    transform: rotate(20deg);
    transition: transform 0.2s;
}

.linkedin, .github{
    width: 30px;
    margin-right: 5px;
    /* position: absolute; */
    /* top: 22px; */
    /* left: 107px; */
    /* z-index: 2; */
}

.linkedin:hover{
    transform: rotate(10deg);
}

.github:hover{
    transform: rotate(-10deg);
}

.menu{
    width: 70%;
    /* border: red solid 1px; */
    display: flex;
    justify-content: right;
    padding: 10px 40px 10px 0;
    /* margin-right: 20px; */
}

.contato, .sobre-mim, .projetos{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #706f6b;
    font-size: 14px;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.contato a{
    text-decoration: none;
    color: #706f6b;
}
.contato a:hover{
    color: #eb9e6e;
}

.sobre-mim a{
    text-decoration: none;
    color: #706f6b;
}
.sobre-mim a:hover{
    color: #eb9e6e;
}

.projetos a{
    text-decoration: none;
    color: #706f6b;
}
.projetos:hover{
    color: #eb9e6e;
}

nav{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.123);
    background-color: white;
    margin: 0px auto;
    width: 85%;
    max-width: 980px;
    height: 2000px;
    padding-top: 120px;
    /* display: flex; 
    flex-direction: column; */
    /* z-index: -10; */

}

#inicio{
    border: #706f6b solid 2px;
    margin: 0px 40px 50px 40px;
    height: 420px;
    position: relative;
}

.texto-apresentacao{
    position: relative;
    margin: 285px 0 0 30px;
    z-index: 2;
}

.home1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #706f6b;
}

.home2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #eb9e6e;
    font-size: 32px;
}

.sticker{
    position: absolute;
    top: -30px;
    right: -20px;
    /* height: 420px; */
    /* max-height: 495px; */
    z-index: 0;
}

.texto-terminal{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    position: absolute;
    top: 30px;
    right: 430px;
    z-index: 5;
}


#sobre-mim{
    margin: 0px 40px;
    padding-top: 70px;
    /* height: 500px; */
    /* border: red solid 1px; */
    display: flex;
    flex-direction: row;
}

.coluna1{
    display: flex;
    flex-direction: column;
    width: 60%;
    position: relative;
    /* border:blue solid 1px; */
}

.area-texto{
    /* border: red solid 1px; */
    position: relative;
    padding: 40px 0 0 30px;
    height: 60%;
}

.area-texto p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #706f6b;
    font-size: 15px;
    padding-bottom: 10px;
    /* font-weight: bolder; */
    /* display: flex; */
}

.preparacao{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.123);
    background-color: #efe8e1;
    margin: 20px 0 0 -50px;
    padding: 30px 0 50px 50px;
    display: flex;
    flex-direction: column;
    width: 150%;
    height: 20%;
    position: relative;
    z-index: 0;

}

.preparacao div{
    display: flex;
    margin: 10px 0 20px 40px;
}

.preparacao div img{
    margin-right: 15px;
}

.preparacao p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #706f6b;
    font-weight: bolder;
    font-size: 15px;
}

.preparacao p:hover{
    color: #eb9e6e;
}

.preparacao a{
    text-decoration: none;
    color: #706f6b;
}

.preparacao h1{
    color: #706f6b;
}

.conhecimento{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.123);
    background-color: #eb9e6e;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 20%;
    margin: -50px 0px 0 30px;
    padding: 30px 50px;
    position: relative;
    z-index: 2; 
}

.conhecimento p, h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: bolder;
    font-size: 15px;
}

.conhecimento div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 5px;
}

.conhecimento  div div p{
    color: white;
    padding-left: 10px;
}

.imagem{
    height: 35px;
}

.coluna2{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.123);
    background-color: #706f6b;
    margin: 50px -50px -20px 50px;
    width: 40%;
    position: relative;
    z-index: 1;
}

.foto img{
    width: 250px;
    margin: -40px 0 0 -40px;
}

.dados{
    margin: 20px 0 0 30px;
}

.local, .email{
    display: flex;
    margin-bottom: 5px;
}

.local img{
    width: 18px;
    height: 18px;
    padding-right: 5px; 
}
.local p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-variant: small-caps;
    /* font-size: 14px; */
}

.email img{
    width: 18px;
    height: 18px;
    padding-right: 5px; 
}
.email p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-variant: small-caps;
    /* font-size: 12px; */
}

@media screen and (max-width: 860px) {
    .sticker, .texto-terminal{
        display: none;
    }
    
    #inicio{
        background-image: url("sticker2-768.png");
        background-size: cover;
        height: 500px;
    }
    .texto-apresentacao{
        margin: 80px 0 0 70px;
    }
    
    .home1{
        font-family: 'Courier New', Courier, monospace;
        color: white;
        font-size: 18px;
    }
    .home2{
        font-family: 'Courier New', Courier, monospace;
        color: #eb9e6e;
        font-size: 24px;
    }
    
}

@media screen and (max-width:768px) {
    #inicio{
        background-image: url("sticker425.png");
        background-size: cover;
        height: 400px;
    }
    .home1{
        font-size: 12px;
    }

    .home2{
        font-size: 18px;
    }

    .foto img{
        width: 200px;
    }

    .preparacao div a p, h1{
        font-size: 12px;
    }

    .conhecimento div div p{
        font-size: 12px;
    }

    .imagem{
        height: 25px;
    }
    .dados{
        margin-left: 10px;
    }
    .local p{
        font-size: 14px;
    }
    .email p{
        font-size: 12px;
    }
}

@media screen and (max-width: 425px){
    header{
        display: none;
    } 
    nav{
        padding-top: 0px;
        margin: 0px;
    }
    #inicio{
        margin: 0px;
    }
    #sobre-mim{
        /* border: red solid 5px; */
        /* display: flex; */
        margin: 80px 0 0 0;
        flex-direction: column-reverse;
        position: relative;
    }

    .coluna1{
        /* border: blue solid 2px; */
        width: 100%;
    }
    
    .area-texto{
        padding: 40px 30px;
        text-align: justify;
    }
    
    .coluna2{
        width: 100%;
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 170px;
    }
    
    .foto img{
        margin: -100px 0 0 0;
    }

    .coluna2 div{
        display: flex;
        justify-content: center;
    }
    .preparacao{
        margin: 0px 10px;
        padding: 20px 20px 50px 20px;
        width: 80%;

    }
    .preparacao div{
        margin: 10px 0 0 0px;
    }
    .conhecimento{
        margin: -20px 0 0 20px;
        padding: 20px;
        width: 80%;
    }
    
    .conhecimento div{
        margin: 0px;
    }
    .dados{
        display: flex;
        flex-direction: column;
        padding-bottom: 15px;
        margin-top: 20px;
    }
}



/* footer{
    margin: 0px 100px;
    box-shadow: 0px -3px 4px rgba(0, 0, 0, 0.329);
    height: 480px;
    position: relative;
    background-color: #dbbcbc;
    z-index: 3;
} */