body{
    margin: 0px;
    background-color: rgba(0, 0, 0, 0.034);
    /* position: relative; */
    /* overflow-y: scroll;
    scroll-behavior: smooth; */
}



header{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.123);
    display: flex;
    justify-content: center;
    background-color: #f0f0f0;
    position: fixed;
    z-index: 100;
    width: 100%;
}

.container{
    display: flex;
    width: 85%;
    max-width: 980px;
}

h1, h2, p{
    margin: 0px;
}

.logo{
    /* position: relative; */
    width: 30%;
    /* border: red solid 1px; */
    display: flex;
    justify-content: left;
    padding: 10px 0 10px 40px;
    /* margin-left: 20px; */
}

.logo a img{
    width: 35px;
}

.logo a img:hover{
    transform: rotate(20deg);
    transition: transform 0.2s;
}

.menu{
    width: 70%;
    /* border: red solid 1px; */
    display: flex;
    justify-content: right;
    padding: 10px 40px 10px 0;
    /* margin-right: 20px; */
}

.contato, .sobre-mim, .projetos{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #706f6b;
    font-size: 14px;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.contato a{
    text-decoration: none;
    color: #706f6b;
}
.contato a:hover{
    color: #eb9e6e;
}

.sobre-mim a{
    text-decoration: none;
    color: #706f6b;
}
.sobre-mim a:hover{
    color: #eb9e6e;
}

.projetos a{
    text-decoration: none;
    color: #706f6b;
}
.projetos a:hover{
    color: #eb9e6e;
}

nav{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.123);
    background-color: white;
    margin: 0px auto;
    width: 85%;
    max-width: 980px;
    height: 2250px;
    padding-top: 120px;

}

#inicio{
    border: #706f6b solid 2px;
    margin: 0px 40px 50px 40px;
    height: 420px;
    position: relative;
}

.texto-apresentacao{
    position: relative;
    margin: 285px 0 0 30px;
    z-index: 2;
}

.home1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #706f6b;
}

.home2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #eb9e6e;
    font-size: 32px;
}

.sticker{
    position: absolute;
    top: -30px;
    right: -20px;
    /* height: 420px; */
    /* max-height: 495px; */
    z-index: 0;
}

.texto-terminal{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    position: absolute;
    top: 30px;
    right: 430px;
    z-index: 5;
}


#sobre-mim{
    margin: 0px 40px;
    padding-top: 70px;
    /* height: 500px; */
    /* border: red solid 1px; */
    display: flex;
    flex-direction: row;
}

.coluna1{
    display: flex;
    flex-direction: column;
    width: 60%;
    position: relative;
    /* border:blue solid 1px; */
}

.area-texto{
    /* border: red solid 1px; */
    position: relative;
    padding: 40px 0 0 30px;
    height: 60%;
}

.area-texto p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #706f6b;
    font-size: 15px;
    padding-bottom: 10px;
    /* font-weight: bolder; */
    /* display: flex; */
}

.preparacao{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.123);
    background-color: #efe8e1;
    margin: 20px 0 0 -50px;
    padding: 30px 0 50px 50px;
    display: flex;
    flex-direction: column;
    width: 150%;
    height: 20%;
    position: relative;
    z-index: 0;
    height: 80px;
}

.preparacao div{
    display: flex;
    margin: 10px 0 20px 40px;
}

.preparacao div img{
    margin-right: 15px;
}

.preparacao p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #706f6b;
    font-weight: bolder;
    font-size: 15px;
}

.preparacao p:hover{
    color: #eb9e6e;
}

.preparacao a{
    text-decoration: none;
    color: #706f6b;
}

.preparacao h1{
    color: #706f6b;
}

.conhecimento{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.123);
    background-color: #eb9e6e;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 20%;
    margin: -50px 0px 0 30px;
    padding: 30px 50px;
    position: relative;
    z-index: 2; 
}

.conhecimento p, h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: bolder;
    font-size: 15px;
}

.conhecimento div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 5px;
}

.conhecimento  div div p{
    color: white;
    padding-left: 10px;
}

.imagem{
    height: 35px;
}

.coluna2{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.123);
    background-color: #706f6b;
    margin: 50px -50px -20px 50px;
    width: 40%;
    position: relative;
    z-index: 1;
}

.foto img{
    width: 250px;
    margin: -40px 0 0 -40px;
}

.dados{
    margin: 20px 0 0 30px;
}

.local, .seta{
    display: flex;
    margin-bottom: 5px;
}

.local img{
    width: 18px;
    height: 18px;
    padding-right: 5px; 
}
.local p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-variant: small-caps;
    font-size: 14px;
}

.seta img{
    width: 18px;
    height: 18px;
    padding-right: 5px; 
}
.seta p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-variant: small-caps;
    font-size: 14px;
}

.marcadagua{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 80px;
    z-index: -1;
    white-space: nowrap;
}

.title-sobre-mim{
    transform: rotate(270deg);
    color: rgba(255, 255, 255, 0.1);
    width: 60%;
    margin-left: 60%;
}

#projetos{
    padding-top: 160px;
    position: relative;
}

.container-projetos{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
    position: absolute;
}

.title-projetos{
    color: #eb6e6e21;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px 0px;
    border: #706f6b solid 2px;
    margin: 0px 40px;
    /* background-color: #ffffff; */
    /* box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.123); */
    /* width: 102%; */
}

.p1, .p2, .p3, .p4, .p5, .p6, .p7, .p8, .p9, .p10, .p11, .p12, .p13, .p14, .p15{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    font-weight: bold;
    height: 35px;
    /* border: red solid 1px; */
}

.p1{
    font-size: 20%;
    width: 90%;
    justify-content: center;
}
.p1 a{
    text-decoration: none;
    color: #a69a81;
}
.p1 a:hover{
    font-size: 102%;
    transition: font-size 0.1s;
}

.p2{
    font-size: 20%;
    width: 35%;
    justify-content: end;
}
.p2 a{
    text-decoration: none;
    color: #eb9e6e;
}
.p2 a:hover{
    font-size: 102%;
    transition: font-size 0.1s;
}

.p3{
    font-size: 35%;
    width: 20%;
    justify-content: center;
}
.p3 a{
    text-decoration: none;
    color: #706f6b;
}
.p3 a:hover{
    font-size: 102%;
    transition: font-size 0.1s;
}

.p4{
    font-size: 20%;
    width: 35%;
    justify-content: start;
}
.p4 a{
    text-decoration: none;
    color: #eb6e6e;
}
.p4 a:hover{
    font-size: 102%;
    transition: font-size 0.2s;
}

.p5{
    font-size: 20%;
    width: 20%;
    justify-content: end;
}
.p5 a{
    text-decoration: none;
    color: #eb6e6e;
}
.p5 a:hover{
    font-size: 102%;
    transition: font-size 0.2s;
}

.p6{
    font-size: 35%;
    width: 20%;
    justify-content: center;
}
.p6 a{
    text-decoration: none;
    color: #eb9e6e;
}
.p6 a:hover{
    font-size: 102%;
    transition: font-size 0.2s;
}

.p7{
    font-size: 28%;
    width: 20%;
    justify-content: center;
}
.p7 a{
    text-decoration: none;
    color: #a69a81;
}
.p7 a:hover{
    font-size: 102%;
    transition: font-size 0.2s;
}

.p8{
    font-size: 20%;
    width: 20%;
    justify-content: start;
}
.p8 a{
    text-decoration: none;
    color: #eb9e6e;
}
.p8 a:hover{
    font-size: 102%;
    transition: font-size 0.2s;
}

.p9{
    font-size: 20%;
    width: 30%;
    justify-content: end;
}
.p9 a{
    text-decoration: none;
    color: #a69a81;
}
.p9 a:hover{
    font-size: 102%;
    transition: font-size 0.2s;
}

.p10{
    font-size: 35%;
    width: 30%;
    justify-content: center;
}
.p10 a{
    text-decoration: none;
    color:#eb6e6e;
}
.p10 a:hover{
    font-size: 102%;
    transition: font-size 0.2s;
}

.p11{
    font-size: 20%;
    width: 30%;
    justify-content: start;
}
.p11 a{
    text-decoration: none;
    color: #706f6b;
}
.p11 a:hover{
    font-size: 102%;
    transition: font-size 0.2s;
}

.p12{
    font-size: 20%;
    width: 35%;
    justify-content: end;
}
.p12 a{
    text-decoration: none;
    color: #eb9e6e;
}
.p12 a:hover{
    font-size: 102%;
    transition: font-size 0.2s;
}

.p13{
    font-size: 35%;
    width: 20%;
    justify-content: center;
}
.p13 a{
    text-decoration: none;
    color: #a69a81;
}
.p13 a:hover{
    font-size: 102%;
    transition: font-size 0.2s;
}

.p14{
    font-size: 20%;
    width: 35%;
    justify-content: start;
}
.p14 a{
    text-decoration: none;
    color:#eb6e6e;
}
.p14 a:hover{
    font-size: 102%;
    transition: font-size 0.2s;
}

.p15{
    font-size: 20%;
    width: 90%;
    justify-content: center;
}
.p15 a{
    text-decoration: none;
    color: #706f6b;
}
.p15 a:hover{
    font-size: 102%;
    transition: font-size 0.2s;
}

#contato{
    padding-top: 200px;
    /* border: red solid 1px; */
}

.container-contato{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.123);
    /* padding: 100px 0px; */
    background-color: #ecb795;
    width: 102%;
    margin-left: -10px;
    display: flex;
    justify-content: center;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #706f6b;
    width: 50%;
    padding: 100px 0 30px 0;
    margin: -30px 0 -30px 0;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.123);
}

.sticker2{
    border: rgb(255, 255, 255) solid 10px;
    border-radius: 200px;
    border-style: outset;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute;
    top: 0px; */
    margin-top: -180px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.123);
}

.sticker2 img{
    border-radius: 200px;
    width: 170px;
}

.email{
    /* position: relative; */
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    /* justify-items: center; */
    align-items: center;
}

.email img{
    width: 120px;
    margin-bottom: -12px;
    z-index: 2;
    /* position: absolute; */
    /* left: -40px; */
    /* top: -15px; */
}

.email p{
    background-color: #8b8a86;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.123);;
    border-radius: 8px;
    text-align: center;
    padding: 20px 0;
    width: 170%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    font-weight: bold;
}

.redes-sociais{
    margin: 10px 0;
}

.linkedin, .github{
    width: 70px;
    filter: invert(1);
}

.linkedin{
    margin-right: 15px;
}

.linkedin:hover{
    transform: rotate(10deg);
}

.github:hover{
    transform: rotate(-10deg);
}

footer{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.123);
    display: flex;
    justify-content: center;
    background-color: #f0f0f0;
    position: relative;
    bottom: 0px;
    z-index: 100;
    width: 100%;
    height: 55px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #706f6b;
    font-variant: all-petite-caps;
}

@media screen and (max-width: 860px) {
    .sticker, .texto-terminal{
        display: none;
    }
    
    #inicio{
        background-image: url("sticker2-768.png");
        background-size: cover;
        height: 500px;
    }
    .texto-apresentacao{
        margin: 80px 0 0 70px;
    }
    
    .home1{
        font-family: 'Courier New', Courier, monospace;
        color: white;
        font-size: 18px;
    }
    .home2{
        font-family: 'Courier New', Courier, monospace;
        color: #eb9e6e;
        font-size: 24px;
    }
    .title-sobre-mim{
        width: 80%;
        margin-left: 45%;
    }
    .email p{
        width: 150%;
        font-size: 14px;
    }
}

@media screen and (max-width:768px) {
    #inicio{
        background-image: url("sticker425.png");
        background-size: cover;
        height: 400px;
    }
    .home1{
        font-size: 12px;
    }

    .home2{
        font-size: 18px;
    }

    .foto img{
        width: 200px;
    }

    .preparacao div a p, h1{
        font-size: 12px;
    }

    .conhecimento div div p{
        font-size: 12px;
    }

    .imagem{
        height: 25px;
    }
    .dados{
        margin-left: 10px;
    }
    .title-sobre-mim{
        width: 130%;
        margin-left: 20%;
    }
    .email p{
        width: 135%;
    }
}

@media screen and (max-width: 425px){
    header{
        display: none;
    } 
    nav{
        padding-top: 0px;
        margin: 0px;
    }
    #inicio{
        margin: 0px;
    }
    #sobre-mim{
        /* border: red solid 5px; */
        /* display: flex; */
        margin: 80px 0 0 0;
        flex-direction: column-reverse;
        position: relative;
    }

    .coluna1{
        /* border: blue solid 2px; */
        width: 100%;
    }
    
    .area-texto{
        padding: 40px 30px;
        text-align: justify;
    }
    
    .coluna2{
        width: 100%;
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 170px;
    }
    
    .foto img{
        margin: -100px 0 0 0;
    }

    .coluna2 div{
        display: flex;
        justify-content: center;
    }
    .preparacao{
        margin: 0px 10px;
        padding: 20px 20px 50px 20px;
        width: 80%;

    }
    .preparacao div{
        margin: 10px 0 0 0px;
    }
    .conhecimento{
        margin: -20px 0 0 20px;
        padding: 20px;
        width: 80%;
    }
    
    .conhecimento div{
        margin: 0px;
    }
    .dados{
        display: flex;
        flex-direction: column;
        padding-bottom: 15px;
        margin-top: 20px;
    }
    .title-sobre-mim{
        transform: rotate(0deg);
        font-size: 65px;
        width: 100%;
        margin-left: 0%;
        margin-top: -130px;
        position: absolute;
    }
    .box{
        width: 100%;
        margin: 0 20px 0 30px;
    }
    .email p{
        width: 110%;

    }

    .p1, .p2, .p3, .p4, .p5, .p6, .p7, .p8, .p9, .p10, .p11, .p12, .p13, .p14, .p15{
        flex-direction: column;
        width: 80%;
        font-size: 15px;
        
        /* border: blue solid 1px; */
    }

    .marcadagua{
        font-size: 50px;
    }
    #contato{
        width: 100%;
    }
    nav{
        height: 2500px;
    }
    footer{
        width: 85%;
    }
}